body{
  max-width: 1500px;
  color:#333;
  font-family: serif,sans-serif,verdana;
  margin: 0 auto;
  letter-spacing: 1.2px;
  line-height: 1.5;
  background-image: url("../img/body-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

img {
 max-width: 100%;
 max-height: 100%;
}

header{
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
}

header h1 {
  margin: 0;
  padding-left: 20px;
  line-height: 50px;
}

.logo{
  float: left;
}

.header-menu{
  padding: 0;
  margin:0;
}

.header-menu a{
  width: 40px;
  display: inline-block;
  float: right;
  padding: 0 20px;
  line-height: 50px;
  text-align: center;
}

/* main */
.menu{
  width: 80%;
  height: 100px;
  text-align: center;
  margin: 0 auto;
}

.menu ul{
  margin: 0 auto;
  padding: 0;
  width: 50%;
  height: 50px;
  text-align: center;
}

.menu li{
  width: 25%;
  margin: 0 auto;
  text-align: 50px;
  background-color: black;
  display: inline-block;
}

.contents-menu{
  padding: 0;
  margin:0 auto;
  text-align: center;
}

.contents-menu a{
  width: 100px;
  display: inline-block;
  /* float: right; */
  /* background-color: red; */
  padding: 0 20px;
  margin: 0 auto;
  line-height: 100px;
  text-align: center;
  border: 1px solid #333;
  cursor: pointer;
}

.contents-menu a:hover {
  background-color: rgba(0,0,0,0.3);
  transition: all 3s;
}



.material{
  width: 100%;
  height: 800px;
  margin: 20 auto;
}

.container{
  width: 80%;
  padding:0px;
  margin: 20px auto;
}

.cooking-image{
  background-color: red;
  height: 600px;
  width: 100%;
  margin: 0 auto;
}

.cooking-image img{
  float:left;
}

.text-content{
  width: 60%;
  height: 600px;
  float:left;
  padding: 0;
  background-color: rgba(0,0,0,1);
  color: white
}

.text-content h2{
  padding:10px;
  margin-top: 150px;
  font-weight: normal;
  font-size: 38px;
  text-align: center;
}

.text-content p{
  padding:20px;
  margin:0;
  font-size: 26px;
}

.modal{
  margin-bottom:300px;
}

.coffee{
  /* display:none; */
}
.breakfast{
  /* display:none; */
}
.lunch{
  /* display:none; */
}
.dinner{
  /* display:none; */
}

#back-to-top{
  text-align: center;
}
#back-to-top a{
  font-size: 80px;
  
}

/* -------------------------------------------------------------------------------- */

.material img{
-webkit-transition: all 3s;
-webkit-transform: translate(0, 0);
opacity: 1;
}
.material img.move {
-webkit-transform: translate(-800px, 0);
opacity: 0.3;
}
